In [1]:
#import all required libraries and packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [1]:
data = pd.read_excel('MarketingTeam_Data.xlsx')

In [4]:
data = data.dropna(thresh = 6)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3298 entries, 0 to 4999
Data columns (total 12 columns):
Monitoring Plan             3298 non-null object
PurchasedNewControlPanel    3298 non-null int64
Age                         3039 non-null object
Education                   3078 non-null object
Gender                      3298 non-null object
HomeImprovement             2109 non-null float64
HomeMarketValue             3255 non-null object
HouseholdIncome             3252 non-null object
LengthofResidence           3219 non-null object
MaritalStatus               2975 non-null object
PresenceofChildren          3061 non-null object
Technology                  2306 non-null float64
dtypes: float64(2), int64(1), object(9)
memory usage: 335.0+ KB

In [5]:
data = pd.read_excel('MarketingTeam_Data.xlsx')
data['Age'].value_counts()

35-44    900
45-54    785
25-34    638
55-64    571
65+      300
21-24     52
18-20      8
Name: Age, dtype: int64

In [6]:
data['Age'].replace({"":np.nan}, inplace=True)
data['Age'].fillna(data['Age'].mode().iloc[0], inplace = True)
data['Age'].value_counts()

35-44    2646
45-54     785
25-34     638
55-64     571
65+       300
21-24      52
18-20       8
Name: Age, dtype: int64

In [7]:
data = pd.read_excel('MarketingTeam_Data.xlsx')
data.fillna(method = "ffill", inplace = True)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
Monitoring Plan             5000 non-null object
PurchasedNewControlPanel    5000 non-null int64
Age                         5000 non-null object
Education                   5000 non-null object
Gender                      5000 non-null object
HomeImprovement             5000 non-null float64
HomeMarketValue             5000 non-null object
HouseholdIncome             5000 non-null object
LengthofResidence           5000 non-null object
MaritalStatus               5000 non-null object
PresenceofChildren          5000 non-null object
Technology                  4999 non-null float64
dtypes: float64(2), int64(1), object(9)
memory usage: 468.8+ KB

In [9]:
data['Age'].value_counts()

35-44    1364
45-54    1190
25-34    1013
55-64     888
65+       459
21-24      76
18-20      10
Name: Age, dtype: int64

In [10]:
df1 = pd.read_excel('MarketingTeam_Data.xlsx')
df1['Age'].value_counts()

35-44    900
45-54    785
25-34    638
55-64    571
65+      300
21-24     52
18-20      8
Name: Age, dtype: int64

In [11]:
for index,row in df1.iterrows():
    curr_age=row['Age']
    status=row['MaritalStatus']
    Ed = row['Education']
    if pd.isnull(zipcode) and (state =='AZ'):
        df1.loc[index,'zipcode']= df1.['states'].mode().iloc[0]        
    elif pd.isnull(curr_age) and (status =='Single') and (Ed =='Completed College'):
        df1.loc[index,'Age']= '21-24'
    elif pd.isnull(curr_age) and (status =='Single') and (Ed =='Completed Graduate School'):
        df1.loc[index,'Age']= '25-34'

df1['Age'].value_counts()

35-44    900
45-54    785
25-34    647
55-64    571
65+      300
21-24     94
18-20     54
Name: Age, dtype: int64

In [12]:
age_array = df1['Age'].values
age_array= age_array[~ pd.isnull(age_array)]

for index,row in df1.iterrows():
    cur_age=row['Age']
    if pd.isnull(cur_age):
        randIndex=np.random.randint(len(age_array))
        randvalue=age_array[randIndex]
        #print(randvalue)
        df1.loc[index,'Age']=randvalue

df1['Age'].value_counts()

35-44    1326
45-54    1183
25-34     959
55-64     848
65+       455
21-24     145
18-20      84
Name: Age, dtype: int64

In [14]:
for index,row in df1.iterrows():
    curr_age=row['Age']
    status=row['MaritalStatus']
    poc = row['PresenceofChildren']
    if pd.isnull(status) and ((curr_age == '18-20') or (curr_age =='21-24') or (curr_age =='25-34')):
        df1.loc[index,'MaritalStatus'] = 'Single'
    elif pd.isnull(status) and ((curr_age == '35-44') or (curr_age =='45-54') or (curr_age =='55-64') or (curr_age =='65+')):
        df1.loc[index,'MaritalStatus'] = 'Married'
    elif pd.isnull(poc) and (status == 'Single'):
        df1.loc[index,'PresenceofChildren'] = 'No'
    elif pd.isnull(poc) and (status == 'Married'):
        df1.loc[index,'PresenceofChildren'] = 'Yes'
        
df1['MaritalStatus'].value_counts()
df1['PresenceofChildren'].value_counts()

No     2978
Yes    2022
Name: PresenceofChildren, dtype: int64

In [15]:
df1['Education'].value_counts()

Completed High School        1263
Completed College            1207
Completed Graduate School     608
Name: Education, dtype: int64

In [16]:
for index,row in df1.iterrows():
    curr_age=row['Age']
    edu=row['Education']
    if pd.isnull(edu) and ((curr_age == '18-20')):
        df1.loc[index,'Education'] = 'Completed High School'
    elif pd.isnull(edu) and ((curr_age == '21-24')):
        df1.loc[index,'Education'] = 'Completed College'
    elif pd.isnull(edu) and ((curr_age == '25-34')):
        df1.loc[index,'Education'] = 'Completed Graduate School'

In [17]:
ed_array = df1['Education'].values
ed_array= ed_array[~ pd.isnull(ed_array)]

for index,row in df1.iterrows():
    edu=row['Education']
    if pd.isnull(edu):
        randIndex=np.random.randint(len(ed_array))
        randvalue=ed_array[randIndex]
        #print(randvalue)
        df1.loc[index,'Education']=randvalue

df1['Education'].value_counts()

Completed High School        1789
Completed College            1774
Completed Graduate School    1437
Name: Education, dtype: int64

In [18]:
df_main = df1
df1['Technology'].value_counts()

1.0    2325
Name: Technology, dtype: int64

In [19]:
for index,row in df1.iterrows():
    curr_age=row['Age']
    edu=row['Education']
    tech=row['Technology']
    if pd.isnull(tech) and ((edu == 'Completed College') or (edu == 'Completed Graduate School')) and ((curr_age != '45-54') or (curr_age != '55-64') or (curr_age != '65+')):
        df1.loc[index,'Technology'] = 1.0
    elif pd.isnull(tech):
        df1.loc[index,'Technology'] = 0.0
        
df_main = df1        
df1['Technology'].value_counts()

1.0    3994
0.0    1006
Name: Technology, dtype: int64

In [20]:
lor_array = df1['LengthofResidence'].values
lor_array = lor_array[~ pd.isnull(lor_array)]

for index,row in df1.iterrows():
    edu=row['LengthofResidence']
    if pd.isnull(edu):
        randIndex=np.random.randint(len(lor_array))
        randvalue=lor_array[randIndex]
        #print(randvalue)
        df1.loc[index,'LengthofResidence']=randvalue

df_main = df1        
df1['LengthofResidence'].value_counts()

11-15 years         822
2 Years             702
16-19 years         587
1 Year              552
20+ years           429
6 Years             304
5 Years             295
3 Years             295
4 Years             288
7 Years             196
10 Years            183
9 Years             162
8 Years             162
Less than 1 year     23
Name: LengthofResidence, dtype: int64

In [21]:
hhi_gs_array = ['75k-100k', '100k-125k', '125k-150k', '150k-175k', '175k-200k', '200k-250k', '250k+']
hhi_cd_array = ['35k-50k', '50k-75k', '75k-100k', '100k-125k', '125k-150k', '150k-175k']
hhi_hs_array = ['35k-50k', '50k-75k', '75k-100k', '100k-125k']

for index,row in df1.iterrows():
    hhi=row['HouseholdIncome']
    edu=row['Education']
    if (pd.isnull(hhi)) and (edu == 'Completed Graduate School'):
        randIndex=np.random.randint(len(hhi_gs_array))
        randvalue=hhi_gs_array[randIndex]
        #print(randvalue)
        df1.loc[index,'HouseholdIncome']=randvalue
        
    elif (pd.isnull(hhi)) and (edu == 'Completed College'):
        randIndex=np.random.randint(len(hhi_cd_array))
        randvalue=hhi_cd_array[randIndex]
        #print(randvalue)
        df1.loc[index,'HouseholdIncome']=randvalue
        
    elif (pd.isnull(hhi)) and (edu == 'Completed High School'):
        randIndex=np.random.randint(len(hhi_hs_array))
        randvalue=hhi_hs_array[randIndex]
        #print(randvalue)
        df1.loc[index,'HouseholdIncome']=randvalue
      

    
df_main = df1        
df1['HouseholdIncome'].value_counts()

75k-100k     862
50k-75k      767
150k-175k    763
100k-125k    750
125k-150k    553
35k-50k      522
25k-35k      183
15k-25k      174
175k-200k    118
250k+        117
200k-250k    113
0-15k         78
Name: HouseholdIncome, dtype: int64

In [22]:
hmv_top = ['350k-500k', '500k-1mm', '1mm+'] 
hmv_mid = ['100k-150k', '150k-200k', '200k-250k', '250k-300k', '300k-350k', '350k-500k']
hmv_low = ['<100k', '100k-150k', '150k-200k']

for index,row in df1.iterrows():
    hmv=row['HomeMarketValue']
    hhi=row['HouseholdIncome']
    if (pd.isnull(hmv)) and ((hhi == '150k-175k') or (hhi == '175k-200k') or (hhi == '200k-250k') or (hhi == '250k+')):
        randIndex=np.random.randint(len(hmv_top))
        randvalue=hmv_top[randIndex]
        #print(randvalue)
        df1.loc[index,'HomeMarketValue']=randvalue
        
    elif (pd.isnull(hmv)) and ((hhi == '75k-100k') or (hhi == '100k-125k') or (hhi == '125k-150k')):
        randIndex=np.random.randint(len(hmv_mid))
        randvalue=hmv_mid[randIndex]
        #print(randvalue)
        df1.loc[index,'HomeMarketValue']=randvalue
        
    elif (pd.isnull(hmv)) and ((hhi == '0-15k') or (hhi == '15k-25k') or (hhi == '25k-35k') or (hhi == '35k-50k') or (hhi == '50k-75k')):
        randIndex=np.random.randint(len(hmv_low))
        randvalue=hmv_low[randIndex]
        #print(randvalue)
        df1.loc[index,'HomeMarketValue']=randvalue
        
df_main = df1        
df1['HomeMarketValue'].value_counts()

150k-200k    871
100k-150k    818
350k-500k    682
500k-1mm     584
<100k        485
200k-250k    459
250k-300k    454
300k-350k    400
1mm+         247
Name: HomeMarketValue, dtype: int64

In [23]:
hi_mode = df1[pd.notnull(df1['HomeImprovement'])].mode()
hmv_mode = hi_mode['HomeMarketValue']
hmv_mode

0    150k-200k
Name: HomeMarketValue, dtype: object

In [24]:
for index,row in df1.iterrows():
    hmv=row['HomeMarketValue']
    hi=row['HomeImprovement']
    if (pd.isnull(hi)) and ((hmv == '200k-250k') or (hmv == '250k-300k') or (hmv == '300k-350k') or (hmv == '350k-500k') or (hmv == '500k-1mm') or (hmv == '1mm+')):
        df1.loc[index,'HomeImprovement'] = 1.0
    elif (pd.isnull(hi)):
        df1.loc[index,'HomeImprovement'] = 0.0

df_final = df1        
df1['HomeImprovement'].value_counts()

1.0    3730
0.0    1270
Name: HomeImprovement, dtype: int64

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
Monitoring Plan             5000 non-null object
PurchasedNewControlPanel    5000 non-null int64
Age                         5000 non-null object
Education                   5000 non-null object
Gender                      5000 non-null object
HomeImprovement             5000 non-null float64
HomeMarketValue             5000 non-null object
HouseholdIncome             5000 non-null object
LengthofResidence           5000 non-null object
MaritalStatus               5000 non-null object
PresenceofChildren          5000 non-null object
Technology                  5000 non-null float64
dtypes: float64(2), int64(1), object(9)
memory usage: 468.8+ KB

In [27]:
df1.to_excel('MarketingTeam_Data_Imputed.xlsx')